<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div id="message" class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">书名</label>
        <div class="layui-input-block">
            <input type="text" name="bName" lay-verify="required" lay-reqtext="书名不能为空" placeholder="请输入书名" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">出版社</label>
        <div class="layui-input-block">
            <input type="text" name="bPublisher" lay-verify="required" lay-reqtext="出版社不能为空" placeholder="请输入出版社" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">作者</label>
        <div class="layui-input-block">
            <input type="text" name="bAuthor" lay-verify="required" lay-reqtext="作者不能为空" placeholder="请输入作者" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">入库数量</label>
        <div class="layui-input-block">
            <input type="number" name="bSum" lay-verify="required" lay-reqtext="入库数不能为空" placeholder="请输入书籍入库数量" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出版日期</label>
        <div class="layui-input-block">
            <input type="text" name="bPubdate" placeholder="请输入出版日期" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">摘要</label>
        <div class="layui-input-block">
            <textarea name="bDigest" class="layui-textarea" placeholder="请输入摘要信息"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="save" class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var jsonData = JSON.stringify(data.field);
            var index = layer.alert(jsonData, {
                title: '请检查添加信息后确认'
            }, function () {
                $.ajax({
                    type: "post",
                    url: "/addBook",
                    data: data.field,
                    dataType: "json", //返回数据类型 - JSONP处理ajax跨域问题
                    success: function(event){
                        if(event){
                            layer.msg('保存成功');
                            // 关闭弹出层
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        }else{
                            layer.msg('保存失败');
                        }
                    }
                });



            });

            return false;
        });

    });
</script>
</body>
</html>